html{font-family: 'Roboto', sans-serif;}
.headerCajal{position: relative; height: 100vh;}
.slider .indicators .indicator-item.active {background-color: #FFFFFF;}
.arrows{position: absolute;left: 0;right: 0;bottom: 200px;z-index: 995;}
.button{ position: absolute;left: 0;right: 0;bottom: 68px;}
.cta-slider{border-radius: 8px;opacity: 1;font-size: 19px;width: 195px;}
.btnColorSlider1{background: #69E5F5 0% 0% no-repeat padding-box;}
.btnColorSlider2{background: #F5BD69 0% 0% no-repeat padding-box;}
#arrowLeft{float: left;}
#arrowRight{float: right;}
#arrowLeft, #arrowRight{vertical-align: middle; width: 56px;}


.menu{position: absolute;z-index: 1000; top: 0;display: flex; left: 0; right: 0;}
.menuMobile{flex-grow: 1;}
.contactoMobile{flex-grow: 1; text-align: right;}
.sidenav-overlay {background-color: transparent;}
.logo{width: 58px; flex-grow: 2;}
.whiteFont{color: white;}
.blackFont{color: black;}
.sidenav li>a{color: #919CA5;}
.cursosIcon{margin: 0 28px 0 0!important;}
.colorGrey{color: #919CA5!important;}
.fontWeight500{font-weight: 500;}
.close-menu{padding-top: 52px;padding-bottom: 45px;padding-right: 34px;}
.close-img{float: right;}
.collapsible-header:hover{color: #69E5F5!important;}

hr { display: block;margin-top: 2.5em;margin-bottom: 2.5em;width: 102px;border: 3px solid #FF0000;}
.botonera{height: 69px;border-radius: 10px;opacity: 1;}
.botonera h2{text-align: left;font: Condensed Bold 21px/25px Roboto;letter-spacing: 0.21px;color: #FFFFFF;opacity: 1;}
.red{background: #FF5756 0% 0% no-repeat padding-box;}
.violet{background: #C1B0EB 0% 0% no-repeat padding-box;}

.medicina-img{padding: 7px; text-align: center;}
.titleIntroMed{text-align: left;font: Condensed Bold 25px Roboto;letter-spacing: 0.21px;color: #919CA5;opacity: 1;padding: 0px 14px;}
.textIntroMed{text-align: left;font-size: 15px; letter-spacing: 0.13px;color: #919CA5;opacity: 1;padding: 0px 14px; margin-bottom: 30px;}

.aulaVirtual{padding: 21px;}

.btn-floating {background-color: transparent;}
.btn-floating:hover {background-color: transparent;}
.btn-floating.btn-large {width: 65px;height: 65px;}

.arrowBack{height: 35px;}
.volver{padding-top: 80px;padding-left: 15px;}

/*Medicina*/
.bgMedicina{background-image: url("img/medicina/medicina-interna.png");background-repeat:no-repeat;background-size: cover;background-position: center center;}
.container-medicina2{margin-top: 45px;}
.titulo-curso{background: #FFFFFF 0% 0% no-repeat padding-box;box-shadow: 0px 3px 6px #00000029;border-radius: 11px;opacity: 1;text-align: center;}
.titulo-curso h1{font-size:24px; font-weight: 600; letter-spacing: 0.24px;color: #E94646;opacity: 1;margin:0; padding: 15px 0px;}
.resultadosContent{padding: 45px 0px !important;}
.resultados{font-size: 15px;letter-spacing: 0.13px;color: #FFFFFF;text-align: left; margin: 0;}
.resultados2{text-align: left;letter-spacing: -0.05px;color: #FFFFFF;opacity: 1;font-size: 11px; font-weight: lighter;margin: 0;}
.resultados3{font-weight: 600;letter-spacing: 0.10px;font-size: 11.4px;}
.numResultados{text-align: left;font-size: 63px; font-weight: 900;letter-spacing: 0.63px;color: #FFFFFF;opacity: 1;margin:0;line-height: 1.2;}
.percent {font-size: 35px;vertical-align: middle;}
.cursoTexto{background: #E18080A1 0% 0% no-repeat padding-box; border-radius: 14px;}
.cursoTexto p{text-align: left;font-size:13px;letter-spacing: 0.14px;color: #FFFFFF;opacity: 1; padding: 13px 20px 9px 16px;font-weight: 400;}
.container-medicina2 p{font-size: 13.5px;letter-spacing: 0.18px;color: #FFFFFF;opacity: 1;line-height: 1.2;margin:0;font-weight: 100;}
.horarios h2{font-size:15px;letter-spacing: 0.13px;color: #FFFFFF;opacity: 1;}
.horarios .collapsible-header{font-size: 15px;letter-spacing: 0.14px;color: #FF3E3D;opacity: 1; font-weight: 900;}

#formConsulta{text-align: center;}
.cta-form {border-radius: 8px;opacity: 1;font-size: 19px; margin-bottom: 20px;}

.footerMedicina{padding-bottom: 10px;margin: 0;}
.footerMedicina .copyright-cajal{color: white;margin: 0;}

/*CONTACTO*/

/* label color */
.formContacto .input-field label {color: #787878;}
.formContacto textarea.materialize-textarea{border-bottom: 1px solid #787878;}
.formContacto input[type=text]:not(.browser-default){border-bottom: 1px solid #787878;}
.formContacto input[type=tel]:not(.browser-default){border-bottom: 1px solid #787878;}
.formContacto input[type=email]:not(.browser-default){border-bottom: 1px solid #787878;}
/* label focus color */
.formContacto  .input-field input[type=text]:focus + label { color: #787878;}
.formContacto  .input-field input[type=tel]:focus + label {color: #787878;}
.formContacto  .input-field input[type=email]:focus + label {color: #787878;}
.formContacto textarea.materialize-textarea:focus + label {color: #787878;}
/* label underline focus color */
.formContacto  .input-field input[type=text]:focus {border-bottom: 1px solid #787878;box-shadow: 0 1px 0 0 #787878;}
.formContacto  .input-field input[type=tel]:focus {border-bottom: 1px solid #787878;box-shadow: 0 1px 0 0 #787878;}
.formContacto  .input-field input[type=email]:focus {border-bottom: 1px solid #787878;box-shadow: 0 1px 0 0 #787878;}
.formContacto textarea.materialize-textarea:focus {border-bottom: 1px solid #787878;box-shadow: 0 1px 0 0 #787878;}
.titleContacto{text-align: left;font-weight: 900;font-size: 24px;letter-spacing: 0.24px;color: #E94646;opacity: 1;margin-top: 10px;}
.titleUbicacion{color: #7FC4FD; font-size: 15px;}

.page-footer{background-color: transparent;}
.footerHome .copyright-cajal {margin: 0;color: #919CA5; font-size: 13px;}

/*Nav*/
nav{background-color: transparent; -webkit-box-shadow: none; box-shadow: none;}
nav .nav-wrapper {padding-left: 60px;padding-right: 60px;}
.logo-nav{width: 190px;vertical-align: middle;}
nav ul a {font-size: 13.5px;letter-spacing: 0.17px;font-weight: bold; padding: 0 22px;}

/***************************************PÁGINA EN DESKTOP***************************/
/*SECCIONES*/
.blanco{color: #fff;}
.tituloSeccion{font-size: 55px;font-weight: bold; letter-spacing: 0.86px; margin-bottom: 15px;}
.lineSeccion{display: block;margin-top: 0;margin-bottom: 20px; margin-left:0px;width: 80px;border: 3px solid;}
.reseñaSeccion{font-size: 15px;letter-spacing: 0.22px;color: #FFFFFF;}
.tituloReseña{font-size: 20px;}
.contenidoSeccion{padding: 70px;}
.imageSeccion{height: 400px;}

/*Faqs*/
.verde{color: #7fcfaf;}
.faqsBackground{background-color: #7fcfaf;}
.question{font-size: 20px; font-weight: 800;letter-spacing: 0.31px;color: #7FCFAF;text-transform: uppercase;border-bottom: 1px solid #7FCFAF;}
.question div{width: 100%;}
.response{letter-spacing: 0.22px;color: #787878; font-size: 14px;}
.faqsCTA, .cursosLaboral{text-align: center;}
.titleCTA{font-size: 17px;font-weight: bold;letter-spacing: 0.27px;color: #787878;}
.lineCTA{border: 3px solid;}
.CTA{height: fit-content;width: 460px;font-size: 20px;padding: 20px;font-weight: 600;line-height: 25px;border-radius: 8px;}
.verdeCTA{background-color: #42AA80;}
.preguntasFrecuentes{border-top: 1px solid transparent;border-right: 1px solid transparent;border-left: 1px solid transparent; -webkit-box-shadow: none;box-shadow:none;}
.preguntasFrecuentes .collapsible-body{border-bottom: 1px solid transparent;}

/*Somos*/
.somosBackground{background-color: #FFC265;}
.amarillo2{color: #FFC265;}

/*Contacto*/
.contactoBackground{background-color: #DF884D;}
.marron{color: #DF884D;}
.titleUbicacion{padding-left: 70px;}
.mapa{width: 100%; height: 500px;}
.formContacto{padding-right: 150px;}
.CTAWhatsapp{width: 235px; height: fit-content;display: flex;align-items: center;font-size: 13px;font-weight: 500;}
.imgWhatsapp{height: 50px; flex: 1; margin: 15px;}

/*CARRERAS*/
.naranja{color: #ED7F32;}
.rojoBackground{background-color: #FF5756;}
.medicinaBackground{background-color: #FF5756;background-image: url(/cajal-sitio-web/wp-content/themes/cajal/img/iconos/ico-medicina-seccion.svg);background-repeat: no-repeat;background-position-x: -60px;background-position-y: -40px;}
.celesteCTA{background-color: #69E5F5;}
.titleHeader1{font-size: 20px; font-weight: 500;}
.sabias{display: flex;align-items: center;}
.titleHeader2{font-size: 22px;font-weight: 100; line-height: 1.3;}
.titleHeader3{font-size: 80px;font-weight: 900;}
.percent{font-size: 50px;font-weight: 900;}
.titleHeader4{font-weight: 100;}
.bolderTitle{font-weight: 700;}
.containerTextoIngreso{padding: 10px 70px;}
.modalidades{padding: 10px 70px;}
.modalidad{padding: 15px;}
.titleModalidad{font-size: 20px;line-height: 1.3;}
.titleModalidad span{font-size: 40px;font-weight: 600;}
.CTApdf{width: 235px; height: fit-content;display: flex;align-items: center;font-size: 12px;font-weight: 800;background-color: #FFF; padding: 10px;}
.imgpdf, .imgArrow{height: 30px; flex: 1;}
.imgArrow{transition: all 0.3s ease-in-out;transform: rotate(0deg)}
.imgArrow.openArrow{transform: rotate(180deg);transition: all 0.3s ease-in-out;}
.descargarPdf{text-align: center;}

/*CURSOS*/
.naranja{color: #ED7F32;}
.opticaBackground{background-color: #ED7F32;background-image: url(/cajal-sitio-web/wp-content/themes/cajal/img/iconos/ico-optica-seccion.svg);background-repeat: no-repeat;background-position-x: -430px;background-position-y: -40px; background-size: 80%;}
.titleOptica{font-size: 20px; font-weight: 800;letter-spacing: 0.31px;text-transform: uppercase;}
.iconsCurso{font-size: 16px;vertical-align: middle;}
.modalidadCurso{text-align: center;}
.response2{letter-spacing: 0.22px;color: #ED7F32; font-size: 12px;}
.iconsCurso2{font-size: 10px;vertical-align: middle;color: #ED7F32;}
.naranjaCTA{background-color: #E26B18;}
#formCursos{background-color: rgba(255, 255, 255, 0.28);padding: 0px 30px; text-align: center;}
.titleFormSeccion{text-align: left;font-size: 26px; font-weight: bold;letter-spacing: 0.41px;color: #FFFFFF;opacity: 1; margin-bottom: 10px;}

/* label color */
.formCursos .input-field label {color: #FFF;}
.formCursos input[type=text]:not(.browser-default){border-bottom: 1px solid #FFF;}
.formCursos input[type=tel]:not(.browser-default){border-bottom: 1px solid #FFF;}
.formCursos input[type=email]:not(.browser-default){border-bottom: 1px solid #FFF;}
.formCursos textarea.materialize-textarea{border-bottom: 1px solid  #FFF;}
/* label focus color */
.formCursos  .input-field input[type=text]:focus + label { color:  #FFF;}
.formCursos  .input-field input[type=tel]:focus + label {color:  #FFF;}
.formCursos  .input-field input[type=email]:focus + label {color:  #FFF;}
.formCursos textarea.materialize-textarea:focus + label {color:  #FFF;}
/* label underline focus color */
.formCursos  .input-field input[type=text]:focus {border-bottom: 1px solid #FFF;box-shadow: 0 1px 0 0  #FFF;}
.formCursos  .input-field input[type=tel]:focus {border-bottom: 1px solid  #FFF;box-shadow: 0 1px 0 0  #FFF;}
.formCursos  .input-field input[type=email]:focus {border-bottom: 1px solid  #FFF;box-shadow: 0 1px 0 0  #FFF;}
.formCursos textarea.materialize-textarea:focus {border-bottom: 1px solid  #FFF;box-shadow: 0 1px 0 0  #FFF;}

.formCursos .input-field {position: relative;margin-top: 0.5rem;margin-bottom: 0.5rem;}

.ctaFormCursos {border-radius: 8px;opacity: 1;font-size: 19px;}

.containerSeccion{margin: 0 auto;max-width: 1280px;width: 90%;padding-top: 90px;}

/*GALERIA*/
.galeriaBackground{background-color: #9DC492;}
.musgo{color:#9DC492;}
.panelFoto{position: relative;display: inline-block;text-align: center;}
.panelFoto:before {content:'';position: absolute;top: 0;bottom: 0;left: 0;right: 0;background-color: rgba(0,0,0,0.6);}
.columnaGaleria{padding: 0 0.1rem!important;}
.seccionPanel{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.tituloGaleria{font-size: 20px; font-weight: 600; margin: 0;}
.plus{height: 80px;margin: 10px;}

/*HOME*/
.titleCurso{color: #fff;transition: .2s;transform: translateY(1em);}
.fondoTextoCurso{display: flex;align-items: center;justify-content: center;position: absolute; top: 0;bottom: 0;left: 0;right: 0;visibility: hidden;opacity: 0; transition: opacity .2s, visibility .2s;}
.fondoTextoCurso.azul{background: rgba(29, 106, 154, 0.72);}
.fondoTextoCurso.rojo{background: rgba(255, 81, 80, 0.72);}
.fondoTextoCurso.verde{background: rgba(8, 167, 77, 0.72);}
.fondoTextoCurso.amarillo{background: rgba(243, 176, 28, 0.72);}
.fondoTextoCurso.celeste{background: rgba(29, 190, 227, 0.72);}
.fondoTextoCurso.rojoucc{background: rgba(255, 175, 175, 0.72);}
.cuadroCurso:hover .fondoTextoCurso {visibility: visible;opacity: 1;}
.cuadroCurso:hover .titleCurso {transform: translateY(0);}
.transparent{background-color: transparent;}
.medicinaUNCBackground{background-color: #FF5150;}
.fisioterapiaBackground{background-color: #8A3E8D;}
.quimicaBackground{background-color: #08A74D;}
.nutricionBackground{background-color: #F3B01C;}
.odontologiaBackground{background-color: #1DBEE3;}
.medicinaUCCBackground{background-color: #FFAFAF;}
.iconosCarreras{height: 100px;}
.iconNutricion{width: 130px;}
.iconosRazones{height: 70px;}
.iconosCursoLaboral{height: 150px;}
.cuadroCurso{position: relative;text-align: center; padding: 35px 0px!important;}
.rojo{color: #FF5756;}
.violeta{color: #F35EDC;}
.amarillo{color: #FFCB4A;}
.gris{color: #828282;}
.mostaza{color: #B29F65;}
.magenta{color: #A26BA7;}
.verdeAgua{color: #08B49F;}
.fortalezas{text-align: center;}
.textFortalezas{font-size: 25px;font-weight: 800;letter-spacing: 0.31px;}
.carrerasCTA{height: fit-content;width: fit-content;font-size: 15px;padding: 20px;font-weight: 600;line-height: 20px;border-radius: 8px; text-align: left;margin-top: 20px;}
.rojoCTA{background-color: #EA4239;}
.violetaCTA{background-color: #984398;}
.amarilloCTA{background-color: #F4B119;}
.medicinaCTAtext{padding: 50px;}
.fonth2{font-size: 40px!important;}
.tituloSeccionCursos{letter-spacing: 0.51px;font-weight:900; font-size: 30px;text-transform: uppercase;}
.titleCursosHome{text-align: center; font-size: 20px;letter-spacing: -0.46px;}

/*Footer*/
.page-footer ul li a{font-size: 13px; color: #787878;}
.copy{font-size: 13px; color: #787878;}
.contentFooter{padding: 15px 50px;}


.arrow_box {
	position: relative;
	border-bottom: 1px solid #FFF;
}
.arrow_box:after {
	content: " ";
	position: absolute;
	pointer-events: none;
	top: 100%;
    left: 20%;
    width: 0;
    height: 0;
    border-top: 20px solid white;
    border-right: 20px solid transparent;
}

@media(max-width: 992px){
    nav .nav-wrapper {padding-left: 8px;padding-right: 8px;}
}
@media only screen and (min-width: 993px){
    .containerSeccion {width: 80%;}
}
@media only screen and (min-width: 601px){
    .containerSeccion {width: 85%;}
}


